._component-chat-box {
    @include flex(1 1 auto);
    @include display(flex);
    @include flex-direction(column);

    &._is-video-chat {
        @include flex(0 0 8rem);
        height: 8rem;

        ._discussion {
            ._message {
                font-size: .7rem;
                margin: .25rem 1rem 0 1rem;
                padding: .25rem;

                &._is-me {
                    margin-left: 1rem;
                    margin-right: .25rem;
                }
            }
        }

        ._add-message {


            ._message-input {
                input {
                    padding: .25rem;
                    font-size: .7rem;
                }
            }
        }
    }

    ._discussion {
        @include flex(1 1 auto);
        overflow-y: scroll;
        position: relative;

        ._message {
            padding: .5rem;
            margin: .5rem 2rem 0 .5rem;
            background-color: $steel;
            color: #fff;
            font-size: .8rem;
            @include border-radius(3px);

            &._is-me {
                margin-left: 2rem;
                margin-right: .5rem;
                background-color: $marigold;
            }
        }
    }

    ._add-message {
        @include flex(0 0 2rem);
        @include align-items(center);
        border-top: 1px solid $steel;
        background-color: $denim;
        padding: .25rem;

        @include display(flex);

        ._message-input {
            @include flex(1 1 auto);
            margin-right: .5rem;
            
            input {
                width: 100%;
            }
        }

        ._message-submit {
            @include flex(0 0 3rem);
        }
    }
}