._game-details {
    width: 100%;
    height: 100%;
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);

    &._create {

        label {
            font-weight: bold;
        }

        ._create-team-name {
            padding: .5rem;
            padding-left: 0;
            border-bottom: 1px solid $steel;
            text-align: left !important;
        }

        ._is-me {
            padding: .25rem;
            padding-left: 0;
        }

        ._component-user-avatar {
            margin-top: .25rem;
        }

        ._create-team-member {
            text-align: left !important;
            padding: 1rem .5rem 1rem 0;
            position: relative;

            ul {
                position: absolute;
                top: calc(100% - 1rem);
                left: 0;
                width: calc(100% - 1rem);
                background-color: #fff;
                z-index: 1;
                border: 1px solid $screen;
                max-height: 10rem;
                overflow-x: hidden;
                overflow-y: auto;

                li {
                    padding: .5rem;
                    cursor: pointer;
                    @include ellipsis();
                    display: block;

                    &:not(:last-of-type) {
                        border-bottom: 1px solid $screen;
                    }

                    &:hover {
                        background-color: darken(#fff, 10%);
                    }

                    img {
                        width: 1rem;
                    }
                }
            }
        }

        input {
            margin-top: .25rem;
        }
    }

    ._game-information {
        @include display(flex);
        @include flex-direction(column);
        @include align-items(center);
        background-color: $denim;
        @include border-radius(10px);
        border: 3px solid $marigold;
        padding: 2rem;

        ._score-card {
            @include flex(1 1 auto);
            @include display(flex);
            @include align-items(center);
            @include justify-content(space-between);
            width: 100%;

            ._team-container {
                background-color: #fff;
                text-align: center;
                padding: 1rem;
                @include border-radius();

                h1 {
                    font-size: 1.4rem;
                    font-weight: 500;
                    @include ellipsis(18rem);
                    width: 100%;
                    border-bottom: 1px solid $steel;
                }
            }

            ._vs {
                font-size: 2rem;
                color: $marigold;
                font-weight: 700;
                padding: 2rem;
            }
        }

        ._game-information-footer {
            width: 12rem;
            margin-top: 2rem;
        }

    }
}