$screen: #c5c1c0;
$steel: #0a1612;
$denim: #1a2930;
$marigold: #f7ce3e;
$badge-green: #4CAF50;

$red: #B80000;

$default-radius: 3px;

$box-shadow: 0 .25rem 2rem -.5rem rgba(28,75,102,.3);

$z-1: 10;
$z-2: 20;
$z-3: 30;
$z-4: 40;
$z-5: 50;
